<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Добавление мониторинга</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-wEmeIV1mKuiNpC+IOBjI7aAzPcEZeedi5yW5f2yOq55WWLwNGmvvx4Um1vskeMj0" crossorigin="anonymous">

</head>
<body>
<div class="container">
    <h1>Мониторинг айти проектов</h1>
    <hr>
    <h2>Добавление мониторинга</h2>

    <form action="#" th:action="@{/saveMonitoring}" th:object="${monitoring}"
          method="POST">

        <input type="text"  th:field="*{FIOAnalyst}" th:list="listAnalyst"
               class="form-control mb-4 col-4"
               autocomplete="off" required placeholder="ФИО аналитика" />

        <input type="text"  th:field="*{projectName}" th:list="listProject"
               class="form-control mb-4 col-4"
               autocomplete="off" required placeholder="Название проекта" />

        <input type="text" th:field="*{risk}"
               placeholder="Риск" class="form-control mb-4 col-4">

        <datalist id="listProject" th:object="${project}" >
            <option th:each="project:${listProject}" th:text="${project.name}"></option>
        </datalist>

        <datalist id="listAnalyst" th:object="${analyst}" >
            <option th:each="analyst:${listAnalyst}" th:text="${analyst.FIO}"></option>
        </datalist>

        <button type="submit" class="btn btn-info col-2, but">Добавить мониторинг</button>
    </form>

    <hr>

    <a th:href = "@{/monitorings}"> Вернуться к списку мониторинга</a>
</div>
</body>
</html>